.compartilhar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.compartilhar-item-1,
.compartilhar-item-2,
.compartilhar-item-3 {
  padding: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  line-height: 1.4;
  color: #f9f9f9;
}

.compartilhar-item-1 {
  background: #3b5999;
}

.compartilhar-item-3 {
  background: #ee3a5d;
}

.compartilhar-item-2{
  background: #00a0d0;
}

@media (max-width: 800px){
  .compartilhar {
    display: none;
  }
}