

.introducao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-1,
.item-2,
.item-3 {
  padding: 70px;
  text-align: center;
  line-height: 1.4;
  color: #f9f9f9;
}

.item-1 {
  background: #353433;
}

.item-2 {
  background: #b91c1c;
}

.item-3 {
  background: #481a8f;
}

@media (max-width: 800px){
  .introducao {
    display: none;
  }
}