.main-bg {
  background: #111827;
  padding: 100px 0;
}

.titulo-main,
.paragrafo-main {
  text-align: center;
  color: #f3f4f6;
}

.titulo-main {
  font-size: 3rem;
}

.paragrafo-main {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.4;
}

@media(max-width: 800px){

  .titulo-main {
    font-size: 1.8rem;
  }
  
  .paragrafo-main{
    font-size: 1rem;
    line-height: 1.6;
  }
}